<div class="header">
    <div class="pull-right search-container">
        <input type="text" ng-model="selectedSearchItem" placeholder="Поиск"
               typeahead="found for found in search($viewValue)"
               typeahead-loading="searchWorking"
               typeahead-on-select="searchItemSelected($item, $model, $label)"
               class="form-control">
        <i style="position: absolute; top: 10px; right: 10px" ng-show="searchWorking" class="glyphicon glyphicon-refresh"></i>
    </div>
    <h3 class="text-muted">Кактусы и Суккуленты от Мирошниченко, Харьков</h3>
</div>

<div ng-controller="MainCtrl">
    <div style="height: 455px">
        <carousel interval="slideInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto; height: 455px;">
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
</div>

<table class="container bottom-menu">
    <tr>
        <td>
            <a href="#/plants">
                <h6>Взрослые растения</h6>
                <img alt="" src="/images/plant.jpg" />
            </a>
        </td>
        <td>
            <a href="#/seedlings">
                <h6>Сеянцы</h6>
                <img alt="" src="/images/seedling.png" />
            </a>
        </td>
        <td>
            <a href="#/seeds">
                <h6>Семена</h6>
                <img alt="" src="/images/seeds.png" />
            </a>
        </td>
        <td>
            <a href="#/gallery">
                <h6>Фотогалерея</h6>
                <img alt="" src="/images/photogallery.png" />
            </a>
        </td>
    </tr>
</table>

<div class="footer text-center">
    <p><a href="mailto:astrophytum.som@gmail.com" title="Сергей и Ольга Мирошниченко, Харьков">&copy; Somir</a></p>
</div>
